/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto',sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #f05f40;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 80px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    height: 70px;
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color:rgba(38,50,69,0.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color:rgba(38,50,69,0.8);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
    background-image: url(../img/nav-top.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
        border-color: rgba(34,34,34,.05);
        background-color:rgba(38,50,69,0.8);
        
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #fff;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/bg-top.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 120px 15px 10px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        /*position: relative;
        margin-top: 200px;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);*/
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}



.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 1;
 /*/   background:rgba(39, 46, 64,0.9);*/
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}
/**********************/
.layer{
    height: 100%; background:rgba(39, 46, 64,0.9);
}
.img-brand{
    width: 50%;
}
.center-nav{
 margin:auto 0;
}
.menu li a{
    padding:0 40px;
    border-right:1px solid white;
    margin-top: 20px;
}
.menu li a.last{
    /*padding:0 20px;*/
    border-right:none;
    margin-top: 20px;
    color:#e98b39;   
}
#img1 {
    width: 240px;
    height:240px;
    margin: 10px auto;
    margin-bottom: 40px; 
}
.header-content-inner h5{
font: "Roboto" 11px;
font-weight: 700;
}
.img-logo {
    height:35px; 
}
.h3-logo {
    min-height:30px;
    font-size: 20px;
    text-decoration: underline;
    max-width: 200px;
    color:#999;
    margin:auto 0px;
}
.brand-logo{text-align: center;padding: 15px 0;width: 100%;}
.brand-logo .img-logo {
    margin-top: 10px;
    min-height:50px}
.brand-logo .h3-logo {
    min-height:30px;
    font-size: 15px;
    text-decoration: underline;
    width: auto;
    color:#999;
    margin:0px auto;
}
#wlc{
    background-color: #fff;
    min-height: 205px;
    text-align: center;
}
#wlc a{
    border-radius: 0px;
    border: 1px solid #bbb;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #bbb;
    padding: 7px 15px;
    letter-spacing: 3px;

}
#wlc p{color:#999;font-size: 14px;margin:auto}
.project-image{margin-top: 30px;}
.project-name{margin-top: 10px;}
.project-image img{width: 100px;vertical-align: middle;margin:auto 0px;}
.project-name p{margin-top:10px;float: left;font-size: 13px;text-align: left;}
.show-news{text-decoration: none;vertical-align: middle;opacity: 0.1}
.show-news img{width: 100%;margin:30% 0; }
.show-news h3{font-size:14px;color:#999;}
.show-news p{font-size:11px;color:#fff;text-align: justify;}

.layer1{z-index: -10;height: 100%; background:rgba(39, 46, 64,1);}
.layer2{z-index: -10;height: 100%; background:rgba(29, 36, 54,1);}
.layer3{z-index: -10;height: 100%; background:rgba(49, 56, 74,1);}

.arrow1{
    float: right;
    background: url('../img/arrow1.png') top right no-repeat;
    border-right: 2px solid rgba(39, 46, 64,1);
    z-index: -10;
}
.arrow2{
    float: right;
    background: url('../img/arrow2.png') top right no-repeat;
    border-right: 2px solid rgba(39, 46, 64,1);
    z-index: -10;
}
.arrow3{
    z-index: -10;
    float: right;
    background: url('../img/arrow3.png') top right no-repeat;
    border-right: 2px solid rgba(39, 46, 64,1);
}



.layer-abu{background:rgba(250,250,250,0.85);}

.modal-dialog{width: 900px;margin:50px auto;}
.modal-dialog img{vertical-align: middle;width: 100%;}
.modal-dialog h3{font-size: 15px;color: #555;}
.modal-dialog p{text-align: justify;font-size: 13px;color: #555;}

.modal .dialog-big{width: 90%;background:rgba(39, 46, 64,0.9);margin:1% auto;}
.modal .dialog-big h3{font-size: 20px; color:white;}
.white{color: white;opacity: 1;font-size: 13px;}





ul.list-center{list-style: none;display: block;padding-left: 0;}
.list-center li{padding:5px;list-style: none;border:1px solid #23AEEB;margin-bottom: 5px;border-radius:5px;font-size: 12px;}
.list-center li span i{float: right;font-size: 1.5em;}

ul.list-right{list-style: none;display: block;padding-left: 0;}
.list-right li{padding:5px;list-style: none;border:1px solid #23AEEB;margin-bottom: 5px;border-radius:5px;background:white;}
.list-right li p{font-size: 10px;margin-bottom: 10px;}
.list-right li span.right{float: right;}
.list-right li span.left{float: left;}

.list-center .li2{background-color:white;}
.list-center .li1 span i{color: white;}


.br-1 li{border:2px solid #F6AE45;}
.br-1 .li1{background-color:#FBD7A3;}
.br-1 .li2 span i{color: #FBD7A3;}

.br-2 li{border:2px solid #98AAB4;}
.br-2 .li1{background-color:#B8CEDA;}
.br-2 .li2 span i{color: #B8CEDA;}

.br-3 li{border:2px solid #AC6249;}
.br-3 .li1{background-color:#F5B193;}
.br-3 .li2 span i{color: #F5B193;}


.pass{border:2px solid #eee;padding: 10px;}
.center-img{margin: auto;}
.top-more{margin-top: 20px;}

@media(max-width:768px) {
.hiding{display: none}
.hints{background-color: #fff;margin-top:20px;}
.modal-dialog{width: 90%;margin:50px auto;z-index: -1000;}
.close{z-index: 1000;clear: both;}
.img-ver{margin-top: 40%;}
}
.gr1{background:url('../img/arrow1.png') rgba(46,55,70,0.8) top right no-repeat;}
.gr2{background:url('../img/arrow2.png') rgba(46,51,63,0.8) top right no-repeat;}
.gr3{background:url('../img/arrow3.png') rgba(46,55,77,0.8) top right no-repeat;}
.hg1{min-height:300px;}
.modal-dialog .layer{
    background:  rgba(39, 46, 64, 0.1) none repeat scroll 0 0
}
/**responsive*/


@media(max-height:900px) {
    #wlc{min-height:410px;}
    #wlc .brand-logo{bottom:0;margin-top: 100px;}
    /*.top-more{margin-top: 50px;}*/
}
@media(max-width:340px) {
    .navbar-brand{padding:10px 0 0 5px;}
}

.sosial{margin-top: 10px;}
.folio{min-height:200px;}


@media(max-width:600px) {
    /*.portfolio-box img{max-width: 50%;margin: 0px auto;}*/
    .portfolio-box img{height: 100%;margin: 0px auto;}
    .modal-content{max-width: 540px;}
    .modal-dialog img{max-width: 100%;}

    .portfolio-box {display: block;position: relative;margin: 0 auto;max-width: 100%;}
    .portfolio-box .img-responsive{width: 100%}
    .show-news img{margin:20px 0 0 0 !important; }
    .project-image img{min-width: 70% !important;}
    .project-name p{font-size: 14px !important;line-height: 1.5 !important;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size: 14px !important;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content{position: relative;top: 20px !important;}
    .show-news h3{font-size: 14px !important;}
    .show-news p{font-size: 11px !important;}
    #wlc p{font-size: 13px !important;}
}
@media(max-width:420px){
    .show-news p{font-size: 10px !important;line-height: auto !important;margin-bottom: 0;}
    .show-news h3{font-size: 11px !important;line-height: auto !important;margin-top: 5;}
    .project-name p{font-size: 12px !important;line-height: 1 !important;}
}
@media(max-width:720px){
   .portfolio-box {display: block;position: relative;margin: 0 auto;max-width: 100%;}
    .portfolio-box .img-responsive{width: 100%}
    .show-news img{margin:20px 0 0 0; }
    .project-image img{min-width: 70%;}
    .project-name p{font-size: 20px;line-height: 2;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size: 25px;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content{position: relative;top: 30px;}
    .show-news h3{font-size: 20px;}
    .show-news p{font-size: 14px;}
    #wlc p{font-size: 18px;}

}
@media(width:768px){
    .hints{background:none;margin-top:0;}
    .menu li a{padding:0 10px;}
    .navbar-brand{padding-right: 0;}
    .menu{margin-left: -50px;}*/
    header{min-height: auto;}
    .show-news p{font-size: 14px;}
    .show-news h3{font-size: 18px;}
    .portfolio-box{max-width: 100%;}
}

@media(width:800px){
    .hints{background:none;margin-top:0;}
    .menu li a{padding:0 13px;}
    .navbar-brand{padding-right: 0;}
    .menu{margin-left: -50px;}*/
    header{min-height: auto;}
    .show-news p{font-size: 16px;}
    .show-news h3{font-size: 20px;margin-top: 30px;}
    .portfolio-box{max-width: 100%;}
    .project-image img{width: 50%;}
    .project-name p{font-size: 18px;line-height: 2;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size: 25px;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content{position: relative;top: 30px;}
   
}
@media(max-width: 1080px){
    .sosial{margin-top:-40px;}
    header{min-height: auto;} 
}

@media(min-width:1080px){
    header{min-height:0%;}   
    .hg1{min-height: 360px;}
    .folio{min-height: 150px;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content{position: relative;top: 20px;}
    .menu{margin-left: -60px !important;}
}
@media(min-width:1024px) {
    .menu{margin-left: -80px !important;} 
    .hg1{min-height: 375px;}
    .project-name p{margin-top: 0;font-size: 12px;line-height: auto;}
    .folio{min-height: 0;}
}
@media(min-width:1280px) {
    .menu{margin-left: -5px !important;}
    .project-name p{font-size: 14px;}
}
@media(min-width:1336px){
    .menu{margin-left: 20px !important;}
}
@media(min-width:1900px) {
    .menu{margin-left: 150px !important;}
    .hg1{min-height: 375px;}
    header{min-height: 0;}
}